<div class='Polaris-Page'>
        <header class="main_header">
            <div class="flex_view_xs middle"> 
                <div class='col-xs-6'>
                    <div class="site-header__logo large--left" itemscope="" itemtype="http://schema.org/Organization">
                        <a href="/" itemprop="url" class="main_logo">

                            <span>TM - HR
                                <small>
                                <!--(${sessionScope[AppConfig.clientSessionHandle]})-->
                                </small>
                            </span>
                        </a>
                    </div>    
                </div>

                <div class='col-xs-6 text-right'>
                    <div class='settings_wrapper'>
                        <a class="Polaris-Button Polaris-Button--primary main_settings">
                            Menu
                        </a> 
                        <%- include ../includes/navbar.ejs -%>
                    </div>
                </div>

            </div>
        </header>
    </div>
        